# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment variables
.env
.env.*

# Virtual environment
venv/
ENV/

# Build artifacts
build/
dist/
*.egg-info/

# Database files
*.sqlite3
*.db

# NodeJS
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/
coverage/
.coverage.* 